// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font: "Space Grotesk", sans-serif !default;

/// Black color
/// @type Color
$black-color: #151515 !default;

/// Green color
/// @type Color
$green-color: #4EE1A0 !default;

/// Dark grey
/// @type Color
$dark-grey: #242424 !default;

/// Grey
/// @type Color
$grey: #D9D9D9 !default;

/// White
/// @type Color
$white: #FFFFFF !default;

//Brakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
$max-width: 1200px;
