// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts/variables" as *;
.header {
padding-top: 20px;
padding-bottom: 40px;
  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__logo {
    width: 130px;
  }

  &__social{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
  }

  &__social-link{
    display: inline-flex;
    transition: transform .5s ease;
    .header__icon path {
      transition: fill .5s ease;
    }
    @media (hover: hover) {
      &:hover .header__icon path{
            fill:$green-color;
          }
    }

    &:active {
      transform: scale(0.94);
    }
  }

  &__icon{
      width: 20px;
      height: 20px;
    }
}
