// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
padding-top: 20px;
padding-bottom: 40px;
  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__logo {
    width: 130px;
  }

  &__social{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
  }

  &__social-link{}

  &__icon{
      width: 20px;
      height: 20px;
    }
}
