@use "../abstracts/" as *;
.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap:24px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 80px;
  position: relative;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;

  &::before{
    content: '';
    background-image: url('../../img/oval-decoration-rigth.svg');
    background-repeat: no-repeat;
    width: 530px;
    height: 130px;
    position: absolute;
    z-index: -1;
    top: 105px;
    right: -100px;
    transform: translateX(50%);
    top: 483px;
  }

  &__title {
    @include text-style("heading-m");
  }

  &__experience {
    @include text-style("body-s");
    color: $grey;
  }
}
